<h2>Product List</h2>
<ul>
    <li *ngFor="let product of products | slice:0:1" (click)="selectedProduct = product">
        {{ product.name | json }}
        <!-- {{ product.name | uppercase }} -->
        <!-- {{ product.name | lowercase }} -->
    </li>
</ul>
<app-product-detail 
    *ngIf="selectedProduct; else noProduct"
    [product]="selectedProduct" 
    (bought)="onBuy()"
></app-product-detail>
<ng-template #noProduct>
<p>Nie wybrano produktu!</p>
<p>{{ today | date:'fullDate' }}</p>
</ng-template>